docker_access_token
.DS_Store
**/.DS_Store
.mypy_cache
.idea
docs/_build
docs/auto-deployment
**/.terraform
**/.terraform.tfstate
**/.terraform.tfstate.backup

.ipynb_checkpoints
**/.ipynb_checkpoints
__pycache__
**/__pycache__

Dev.ipynb
.vscode
**/.vscode
